Win32/*
x64/*
*.opensdf
*.sdf
*.suo
*.vcxproj.user
*.o
*.exe
server
/prj/Win32/*
/prj/x64/*
/prj/*/Win32/*
/prj/*/x64/*
/prj/thread_pool.VC.db
/prj/thread_pool.VC.VC.opendb
/vc140.pdb
/thread_pool.obj
/test.pdb
/test.exe
/main.obj
